.option-box .Color-option{
    
    border: 4px solid #ff00aa; 
    
}

.dropdown-menu{
    
    border-top: 3px solid #ff00aa;
} 
.navbar-brand span,
.about h1 span,
.test span,
.Features .feat svg
{
    
    color:  #ff00aa;
}

.navbar-dark .navbar-nav .nav-link:hover{
   color:  #ff00aa;
}

.test .carousel-indicators li.active,
.table .box:hover p
{
border: 2px solid #ff00aa;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
    color: #ff00aa;
}

#news .inner input.button {

    background-color: #ff00aa;
    border: 1px solid #ff00aa;
}




.footer-menu li:hover a{
  color: #ff00aa;
}

.copyright-text p a{
  color: #ff00aa;
}


.footer-widget ul li a:hover{
  color: #ff00aa;
}



.footer-widget-heading h3::before {
  background: #ff00aa;
}

.single-cta i {
  color: #ff00aa;
}